
* {
  padding: 0;
  font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'HARRYP';
    src: url(../assets/font/HARRYP__.TTF);
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../assets/img/background.jpg);
}

.body_personajes {
    background-image: url(../assets/img/background3.webp);
}

header {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

h1, h2 {
    font-family: 'HARRYP';
    font-size: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'HARRYP';
  font-size: 40px;
}

main {
  padding: 2em;
  text-align: center;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-size: 18px;
}

.grid, 
.personajes, 
.hechizos, 
.Gryffindor, 
.Slytherin, 
.Hufflepuff, 
.Ravenclaw,
.Hogwarts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 40px;
    margin-bottom: 10px;
    font-family: 'HARRYP';
 }

 
 .card {
    background-color: #343a40;
    color:gray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 40px;
    overflow: hidden;
 }
 
 .card img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
 }
 
 .card-content {
    padding: 1px;
    text-align: center;
    gap: 10px;
 }
 
 .card-content h4 {
    font-size: 20px;
    margin: 0;
 }

ul {
    list-style: none;
 }

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
